.HomeContainer{
    height: 90vh;
    width: 100vw;
    padding-top: 5em;
    background-color: #cec3fa;
    display: flex;
}

.home-page-left{
    flex: 2;
}

.home-page-right{
    flex: 1;
    text-align: left;
}

.heading{
    font-size: 60px;
    font-weight: 650;
    color: white;
    text-align: left;
    padding-left: 1em;
}

.headingLine{
    font-size: 25px;
    color: white;
    font-weight: 400;
    text-align: left;
    padding-left: 2.7em;
}

.home-btn{
    text-align: left;
    padding-left: 65px;
    margin-top: 100px;
}

.home-btn button{
    height: 70px;
    width: 350px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 400;

    border: 1px solid rgb(241, 92, 92);
    background-color: rgb(241, 92, 92);
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
}

.home-btn button:hover{
    background-color: rgb(86, 120, 255);
    border: 1px solid rgb(86, 120, 255);
}

.home-icon{
    padding-top: 30%;
    padding-left: 10%;
}

.home-icon svg{
    transform: scale(6.5) rotate(-10deg);
}