.wrapperClass{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    box-sizing: border-box;    
}

.title{
    flex: 0.7;
    display: grid;
    align-items: center;
    text-align: left;
}

.titleText{
    font-size: 20px;
    font-weight: 500;
}

.funds{
    flex: 3;
    display: flex;
    overflow-x: scroll;
}

::-webkit-scrollbar{
    height: 4px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(121, 117, 117);
}

.featuredFund{
    flex: 1.5;
    height: 100px;
}

.schoolFund{
    display: flex;
    height: 80%;
    width: 90%;
    gap: 10px;
    background-color: rgb(167, 83, 245);
}

.imageContainer{
    flex: 2;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.imageContainer img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text{
    flex: 3;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.titleSF{
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    font-size: 18px;
    color: white;
}

.textSF{
    color: white;
}

.fundDetail{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.fReq{
    margin-top: 20%;
    color: white;
}

.fReqDetail{
    color: yellow;
    font-size: 22px;
}

.donateButton{
    flex: 1;
}

.donateButton button{
    margin-top: 25%;
    height: 35%;
    width: 70%;
    background-color: rgb(13, 191, 13);
    border: 1px solid rgb(13, 191, 13);
    color: yellow;
}